nav {
	width: 1200px;
	margin: 0 auto;
}
nav:before {
	content: "";
	display: block;
	height: 50px;
	width: 100%;
	background:#20B2AA;
	position: absolute;
	left: 0;
	z-index: -1;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 50px;
}
ul li {
	float: left;
}
ul li a {
color: #fff;
height: 50px;	
padding: 0 70px;
display: block;
line-height: 50px;
text-transform: uppercase;
text-decoration: none;
}
ul li a:hover {
	background-color: green;
}
.colortext {
	color:orange;
}
#mainIcon {
	background: #20B2AA;
}
#baton {
	font-size: 25px;
	background:orange;
	border: none;
	color: #fff;
}
#baton2 {
	font-size: 25px;
		background:black;
	border: none;
	color: #fff;
}
#center {
	text-align: center;
}
#ssilki {
	text-align: center;
}
#navy {
	text-align: center;
	background-color: navy;
}
#baton3 {
	font-size: 25px;
	background: #008080;
	border: none;
	margin: 25px;
}
#baton4 {
	font-size: 25px;
	background: #008080;
	border: none;
	margin: 25px;
}
#baton5 {
	font-size: 25px;
	background-color: blue;
	border: none;
	margin: 25px;
}
#baton6 {
	font-size: 25px;
	background-color: blue;
	border: none;
	margin: 25px;
}
#ez {
	background-color: blue;
}
#baton7 {
	font-size: 25px;
	background: #000;
	color: #fff;
	margin: 25px;
	text-align: center;
}
#gg {
	background-color: gray;
}
#contact {
	background-color: navy;
}
#ggw {
	background-color: pink;
}
footer {
	background-color: gray;
	margin: 0px;
	padding: 20px;
}
